<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GitSnitch</title>
  </head>
  <body>
    <h1>GitSnitch</h1>
    <button type='button'>Log in with GitHub to continue</button>

  </body>
</html>
