<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GitSnitch</title>
  </head>
  <body>
    <h1>GitSnitch</h1>
    <%= link_to "Log in with Github", user_github_omniauth_authorize_path %>

  </body>
</html>
