<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GitSnitch</title>
  </head>
  <body>
    <h1>GitSnitch</h1>
    <%= button_to "Log in with Github".html_safe, user_github_omniauth_authorize_path, :id => "button" %>
    <% if @user %>
      <% @user.each do |link|%>
        <li><%= link %></li>
      <% end %>
    <% end %>
  </body>
</html>
